## You must have data saved locally to run this file. Data is too large to save to git repo.

In [4]:
import pandas as pd
import numpy as np
import json
import sklearn

### Reference
tweet object: https://developer.twitter.com/en/docs/tweets/data-dictionary/overview/tweet-object  

### Hurricane dates
lands on Texas = August 26, 2017

### tests

In [36]:
dates = []
for line in open('data/tweets_1.json','r'):
    tweet = json.loads(line)
    dates.append( tweet['created_at'])

In [55]:
text = []
for line in open('data/tweets_1.json','r'):
    tweet = json.loads(line)
    text.append( tweet['text'])

In [56]:
harvey_count = 0
harvey_index = []
for ii, tweet in enumerate(text):
    if 'harvey' in tweet:
        harvey_count += 1
        harvey_index.append(ii)

In [57]:
print(harvey_count)
print(text[harvey_index[0]])

64291
@xamilass Nao tem shipp maior que mike ross e harvey specter

In [54]:
print(text[0])

Est√° super grueso #Houston #HoustonStrong #HoustonFlood visto desde un #drone #drones https://t.co/VfqWL5ZRBi

In [31]:
dates.sort(key=lambda r:r[0])

In [42]:
print (dates[0], dates[(len(dates)-1)])

Thu Aug 31 00:00:20 +0000 2017 Sun Nov 12 17:11:30 +0000 2017

In [28]:
geog = []
for line in open('data/tweets_23.json','r'):
    tweet = json.loads(line)
    if 'harvey' in tweet['text']:
        geog.append(getTweetData(tweet))

TypeError: 'NoneType' object is not subscriptable

### filtering the data

In [29]:
# get tweet id, date, text, location and URLs included in tweet

def getTweetData(d):
    urls = [url['expanded_url'] for url in d['entities']['urls']]
    return(d['id'],d['created_at'],d['text'],urls,d['coordinates'])

In [30]:
#open files one by one and make collection of tweets that include the word Harvey

if __name__ == "__main__":
    export = []
    for i in range(24):
        print("opening json ", i)
        for line in open('data/tweets_' + str(i) + '.json','r'):
            tweet = json.loads(line)
            if 'harvey' in tweet['text']:
                export.append(getTweetData(tweet))

opening json  0
opening json  1
opening json  2
opening json  3
opening json  4
opening json  5
opening json  6
opening json  7
opening json  8
opening json  9
opening json  10
opening json  11
opening json  12
opening json  13
opening json  14
opening json  15
opening json  16
opening json  17
opening json  18
opening json  19
opening json  20
opening json  21
opening json  22
opening json  23

In [31]:
len(export)

1237666

In [32]:
# back-ups, because, well it's me and it took a LONG time to filter the data
export1=export
export2=export
export3=export

In [33]:
# convert list to dataframe
df1 = pd.DataFrame(np.array(export1))
df1.columns = ["id", "date", "text", "url", "location"]
df1.head()

,id,date,text,url,location
0,903053412509425664,Thu Aug 31 00:34:46 +0000 2017,RT @Tedashii: Losing a loved one is a hard thi...,[],None
1,903055227833614339,Thu Aug 31 00:41:58 +0000 2017,RT @Jenni_77: Please RT\n#MISSING last seen Ho...,[],None
2,903061868100685825,Thu Aug 31 01:08:22 +0000 2017,RT @TheMercedesXXX: Please share! #harvey #Hou...,[],None
3,903073788497190913,Thu Aug 31 01:55:44 +0000 2017,RT @JerryMarkon: The criticism of Trump's hand...,[],None
4,903082750491668480,Thu Aug 31 02:31:20 +0000 2017,RT @Tedashii: Losing a loved one is a hard thi...,[],None

In [34]:
# save as csv

df1.to_csv('data/harvey2.csv')